<br>
<dt>To use the Debian testing security archive, add the following lines to your /etc/apt/sources.list:<dt>
<br>
<dd>deb http://security.debian.org/ testing/updates main contrib non-free</dd>
<dd>deb-src http://security.debian.org/ testing/updates main contrib non-free</dd>
<br>

<!-- footer -->
<hr>
<a href="http://validator.w3.org/check?uri=referer">
    <img border="0" src="http://www.w3.org/Icons/valid-html401" alt="Valid HTML 4.01!" height="31" width="88"></a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img border="0" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!"
     height="31" width="88"></a>


</body></html>

